<section id='demo'>
  <h2 style='text-align: center;'>Escolha um número e boa sorte!</h2>
  <form action="list-raffles_submit" method="get" accept-charset="utf-8">


  <ul class='display-animation'>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
    <li class="tick"><strong style="font-size: x-large;">555</strong></li>
  </ul>
  </form>
  <span style="width: 1em; height: 1em; display: inline-block; background-color: #D9534F"></span> Número Vendido

  <span style="width: 1em; height: 1em; display: inline-block; background-color: #FFC55F"></span> Número Sorteado

  <span style="width: 1em; height: 1em; display: inline-block; background-color: #5BC0DE"></span> Pagamento Pendente

  <span style="width: 1em; height: 1em; display: inline-block; background-color: #627722"></span> Seu(s) Número(s)


</section>

