{% extends "core/base.html" %}
{% load staticfiles %}

{% block extra_style %}

<link href=" {% static 'css/raffles/list-tick.css' %}" rel="stylesheet">
{% endblock extra_style %}
{% block content %}
<div class="subpage-head has-margin-bottom">
	<div class="container">
	<h3>Como contribuir?</h3>
		<p class="lead">É simples e prático, faça a diferença!</p>
	</div>
</div>
<div class="container has-margin-bottom">
<div class="row">
<div class="col-md-12">
<p class="lead"> Fazer uma edição internacional da JMJ acontecer não é tarefa fácil para qualquer arquidiocese. Mas católicos e homens de boa vontade de todas as partes do mundo podem ajudar. Para isso, o Comitê Organizador Local (COL) da Jornada Mundial da Juventude de 2016 divulgou na semana passada, dia 4 de fevereiro, as formas de contribuir com a Arquidiocese de Cracóvia. </p>
{% include 'about-contrib/list-raffles.html' %}
</div>
<div class="col-md-12">
<h4>JORNADA MUNDIAL DA JUVENTUDE</h4>
<p>Fazer uma edição internacional da JMJ acontecer não é tarefa fácil para qualquer arquidiocese. Mas católicos e homens de boa vontade de todas as partes do mundo podem ajudar. Para isso, o Comitê Organizador Local (COL) da Jornada Mundial da Juventude de 2016 divulgou na semana passada, dia 4 de fevereiro, as formas de contribuir com a Arquidiocese de Cracóvia.</p>
</div>
<div class="col-sm-6 col-md-6">
<h4>JORNADA MUNDIAL DA JUVENTUDE</h4>
<p>Fazer uma edição internacional da JMJ acontecer não é tarefa fácil para qualquer arquidiocese. Mas católicos e homens de boa vontade de todas as partes do mundo podem ajudar. Para isso, o Comitê Organizador Local (COL) da Jornada Mundial da Juventude de 2016 divulgou na semana passada, dia 4 de fevereiro, as formas de contribuir com a Arquidiocese de Cracóvia. </p>
</div>
<div class="col-sm-6 col-md-6">
<h4>JORNADA MUNDIAL DA JUVENTUDE</h4>
<p>Fazer uma edição internacional da JMJ acontecer não é tarefa fácil para qualquer arquidiocese. Mas católicos e homens de boa vontade de todas as partes do mundo podem ajudar. Para isso, o Comitê Organizador Local (COL) da Jornada Mundial da Juventude de 2016 divulgou na semana passada, dia 4 de fevereiro, as formas de contribuir com a Arquidiocese de Cracóvia. </p>
<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
<form target="_blank" action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
        <!-- Campos obrigatórios -->
<input name="receiverEmail" type="hidden" value="alexsanderfalcucci@hotmail.com">
<input name="currency" type="hidden" value="BRL">

<!-- Itens do pagamento (ao menos um item é obrigatório) -->
<input name="itemId1" type="hidden" value="0001">
<input name="itemDescription1" type="hidden" value="Notebook Prata">
<input name="itemAmount1" type="hidden" value="5.00">
<input name="itemQuantity1" type="hidden" value="2">

<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-pagar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
</form>
<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
</div>


</div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" charset="utf-8">
(function(){ 
  var speed = 900,
      containers = document.querySelectorAll(".display-animation");
  for(var c = 0; c < containers.length; c++){
    var container = containers[c],
        children = container.children;
    
    if(!container.classList.contains("delay-set")){
      container.classList.add("delay-set");
      
      for(var i = 0; i < children.length; i++){
        var child = children[i],
            childOffset = child.getBoundingClientRect(),
            offset = childOffset.left*0.8 + childOffset.top,
            delay = parseFloat(offset/speed).toFixed(2);
        
        child.style.webkitTransitionDelay = delay + "s";
        child.style.transitionDelay = delay + "s";
      }
    }
    container.classList.add("animating-in");
 }
})();


var buttons = document.getElementsByTagName("button"),
    containers = document.querySelectorAll(".display-animation");

for(var i = 0; i < buttons.length; i++){
 buttons[i].addEventListener("click", function(e){
   var attr = this.getAttribute("data-animation"),
       opposite = attr == "in" ? "out" : "in";
   console.log(attr);
   for(var c = 0; c < containers.length; c++){
     containers[c].classList.remove("animating-" + opposite);
     containers[c].classList.add("animating-" + attr);
   }
 }, false);
}

</script>
{% endblock extra_js %}