<div id="myCarousel" class="carousel slide" data-ride="carousel">

<ol class="carousel-indicators">
<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" data-slide-to="1"></li>
<li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="item slide-one active">
<div class="container">
<div class="carousel-caption">
	<p class="lead"><strong>IDE PELO MUNDO E PREGAI O EVANGELHO A</strong></p>
	<h1>TODOS </h1>
<p><a class="btn btn-lg btn-primary" href="charity-donation.html" role="button">QUER CONTRIBUIR? &rarr;</a></p>
</div>
</div>
</div>
<div class="item slide-two">
<div class="container">
<div class="carousel-caption">
<h2>O caminho da Graça</h2>
<p class="lead">Quem semeia a injustiça colherá a desgraça.</p>
<p><a class="btn btn-lg btn-primary" href="ministry.html" role="button">VEJA COMO CONTRIBUIR &rarr;</a></p>
</div>
</div>
</div>
<div class="item slide-three">
<div class="container">
<div class="carousel-caption">
<h2>Deus é amor</h2>
<p class="lead">For God did not send his Son into the world to condemn the world, but to save the world through him. <em>John 3:17</em></p>
<p><a class="btn btn-lg btn-primary" href="image-gallery.html" role="button">Browse gallery &rarr;</a></p>
</div>
</div>
</div>
</div>
<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><i class="fa fa-arrow-left" style="font-size: xx-large;padding-top: 180%;"></i></a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="fa fa-arrow-right" style="font-size: xx-large;padding-top: 180%;"></span></a>
</div>