{% load staticfiles %}
<footer>
<div class="container">
<div class="row">
<div class="col-sm-6 col-md-3">
<h5>SOBRE A DOAÇÃO</h5>
<p>Com o princípio de ajudar os peregrinos brasileiros, foi lançada a missão perante a Igreja, para que possamos arrecadar o máximo de dinheiro possível, contribuindo para a peregrinação rumo a Cracóvia em 2016.</p>
</div>
<div class="col-sm-6 col-md-3">
<h5>LINKS ÚTEIS</h5>
<ul class="footer-links">
<li><a href="#">Iniciando eventos</a></li>
<li><a href="#">Diocéses</a></li>
<li><a href="#">Anúncios</a></li>
<li><a href="#">Contate-nos</a></li>
</ul>
</div>
<div class="col-sm-6 col-md-3">
<h5>NOSSO ENDEREÇO</h5>
<p> Paróquia...<br>
121 rua, bairro... <br>
País, Estado, Cidade...<br>
<br>
Phone: +35 8376 6284<br>
Email: <a href="#">ibiraci@paroquia.com.br</a></p>
</div>
<div class="col-sm-6 col-md-3">
<h5>CONECTE-SE</h5>
<div class="social-icons"><a href="https://www.facebook.com/jornadamundialdajuventude" target="_blank"><img src="{% static 'images/fb-icon.png' %}" alt="social"></a> <a href="https://twitter.com/wyd_en" target="_blank"><img src="{% static 'images/tw-icon.png' %}" alt="social"></a> <!-- <a href="#"><img src="{% static 'images/in-icon.png' %}" alt="social"></a> --></div>
</div>
</div>
</div>
<div class="copyright">
<div class="container">
<p class="text-center">&copy;2015 <i class="fa fa-pencil"></i> com <i class="fa fa-heart pulse" style="color: #c0392b;"></i> por um<a href="http://www.alexfalcucci.com" target="_blank" title="Web Site"><strong> Peregrino :)</strong></a></p>
</div>
</div>
</footer>