{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Jornada Mundial da Juventude - Cracóvia</title>
 
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<link href=" {% static 'css/wyd_jmj.css' %}" rel="stylesheet">
<link href="{% static 'css/fancybox.css' %} " rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
<![endif]-->
 
<link rel="shortcut icon" href="images/favicon.png">
 
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
 
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
<a class="navbar-brand" href="/"> <img src="{% static 'images/JMJ_2016.png' %} " alt="church logo" class="img-responsive"></a> </div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav navbar-right">
<li class="active"><a href="/">HOME</a></li>
<li><a href="">SOBRE A JMJ</a></li>
<li><a href="">CONTATO</a></li>
</ul>
</div>
 
</div>
</div>
 
 
<div id="myCarousel" class="carousel slide" data-ride="carousel">
 
<ol class="carousel-indicators">
<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" data-slide-to="1"></li>
<li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="item slide-one active">
<div class="container">
<div class="carousel-caption">
	<h4>IDE POR TODO O MUNDO,</h4>
	<h4>PREGAI O EVANGELHO</h4>
	<h1>A TODA CRIATURA <br>
		<small class="pull-right"><i>- Mc 16:15</i></small>
	</h1>
<p><a class="btn btn-giant btn-primary" href="charity-donation.html" role="button">DOAÇÃO &rarr;</a></p>
</div>
</div>
</div>
<div class="item slide-two">
<div class="container">
<div class="carousel-caption">
<h2>O caminho da Graça</h2>
<p class="lead">Quem semeia a injustiça colherá a desgraça.</p>
<p><a class="btn btn-lg btn-primary" href="ministry.html" role="button">Veja como doar &rarr;</a></p>
</div>
</div>
</div>
<div class="item slide-three">
<div class="container">
<div class="carousel-caption">
<h2>Deus é amor</h2>
<p class="lead">For God did not send his Son into the world to condemn the world, but to save the world through him. <em>John 3:17</em></p>
<p><a class="btn btn-lg btn-primary" href="image-gallery.html" role="button">Browse gallery &rarr;</a></p>
</div>
</div>
</div>
</div>
<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><i class="fa fa-arrow-left" style="font-size: xx-large;padding-top: 180%;"></i></a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="fa fa-arrow-right" style="font-size: xx-large;padding-top: 180%;"></span></a> </div>
 
 
<div class="highlight-bg /*has-margin-bottom*/" style="background: #F5E8D7;">
<div class="container event-cta">
<div class="ec-txt"> <span>JORNADA MUNDIAL DA JUVENTUDE</span>
<p>"Deus não pertence a nenhum povo." - <i>Papa Francisco.</i></p>
</div>
<a class="btn btn-lg btn-primary" href="http://www.krakow2016.com/en/" target="_blank" role="button">Ir para o site Oficial  →</a> </div>
</div>
 
 
<!-- <div class="container">
<div class="row feature-block">
<div class="col-md-4 col-sm-6 has-margin-bottom"> <img class="img-responsive" src="images/thumb-1.jpg" alt="catholic church">
<h5>GUIDED BY THE HOLY SPIRIT</h5>
<p>Experience God's Wisdom each day as you are lead by the Holy Spirit. Walk effortlessly into success and happiness and understand the Father's love for you. </p>
<p><a href="about.html" role="button">View details →</a></p>
</div>
 
<div class="col-md-4 col-sm-6 has-margin-bottom"> <img class="img-responsive" src="images/thumb-2.jpg" alt="ministry sermon">
<h5>LAW DEMANDS; GRACE SUPPLIES</h5>
<p>Jesus came and fulfilled the laws, the only one who could keep the laws so that in Him we can be made righteous and not have to suffer death for our sins. </p>
<p><a href="sermons.html" role="button">View details →</a></p>
</div>
 
<div class="col-md-4 col-sm-8 col-sm-offset-2 col-md-offset-0 center-this has-margin-bottom"> <img class="img-responsive" src="images/thumb-3.jpg" alt="bulletin programs">
<h5>CHRIST OCCUPIED</h5>
<p>It may sound good to Mankind to be self-occupied. But God wants you to be Christ-Occupied and receive all of your blessings through resting in the work of Jesus.</p>
<p><a href="events-programs.html" role="button">View details →</a></p>
</div>
 
</div>
</div> -->
 
 
<div class="highlight-bg has-margin-bottom" align="center">
<div class="container event-list">
<div class="section-title">
<h4> ENCONTROS &amp; EVENTOS </h4>
</div>
<div class="row">
<div class="col-md-12">
<div class="owl-carousel">
<div class="el-block item">
<h4> 17 de SETEMBRO </h4>
<p class="el-head">Encontro Vocacional Caminho Neocatecumenal em Franca</p>
<span>Horário Indefinido</span>
<p class="el-cta"><a class="btn btn-primary" href="http://franca2015.cn.org.br/" target="_blank" role="button">Site Oficial do Evento &rarr;</a></p>
</div>
<div class="el-block item">
<h4> 17 de SETEMBRO </h4>
<p class="el-head">Encontro Vocacional Caminho Neocatecumenal em Franca</p>
<span>Horário Indefinido</span>
<p class="el-cta"><a class="btn btn-primary" href="http://franca2015.cn.org.br/" target="_blank" role="button">Site Oficial do Evento &rarr;</a></p>
</div>
<div class="el-block item">
<h4> 17 de SETEMBRO </h4>
<p class="el-head">Encontro Vocacional Caminho Neocatecumenal em Franca</p>
<span>Horário Indefinido</span>
<p class="el-cta"><a class="btn btn-primary" href="http://franca2015.cn.org.br/" target="_blank" role="button">Site Oficial do Evento &rarr;</a></p>
</div>
<div class="el-block item">
<h4> 17 de SETEMBRO </h4>
<p class="el-head">Encontro Vocacional Caminho Neocatecumenal em Franca</p>
<span>Horário Indefinido</span>
<p class="el-cta"><a class="btn btn-primary" href="http://franca2015.cn.org.br/" target="_blank" role="button">Site Oficial do Evento &rarr;</a></p>
</div>
<div class="el-block item">
<h4> 17 de SETEMBRO </h4>
<p class="el-head">Encontro Vocacional Caminho Neocatecumenal em Franca</p>
<span>Horário Indefinido</span>
<p class="el-cta"><a class="btn btn-primary" href="http://franca2015.cn.org.br/" target="_blank" role="button">Site Oficial do Evento &rarr;</a></p>
</div>
<!-- <div class="el-block item">
<h4> JUL 29 </h4>
<p class="el-head">Show me your faith</p>
<span>Thursday 02:00 PM</span>
<p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details &rarr;</a></p>
</div>
<div class="el-block item">
<h4> SEP 19 </h4>
<p class="el-head">Perseravance of the saints</p>
<span>Saturday 10:00 AM</span>
<p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details &rarr;</a></p>
</div>
<div class="el-block item">
<h4> OCT 14 </h4>
<p class="el-head">God's irresistable grace</p>
<span>Sunday 11:00 AM</span>
<p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details &rarr;</a></p>
</div>
<div class="el-block item">
<h4> JULY 16 </h4>
<p class="el-head">Weekly meeting &amp; prayer</p>
<span>Monday 07:00 AM</span>
<p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details &rarr;</a></p>
</div>
<div class="el-block item">
<h4> JUL 29 </h4>
<p class="el-head">Show me your faith</p>
<span>Thursday 02:00 PM</span>
<p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details &rarr;</a></p>
</div>
<div class="el-block item">
<h4> SEP 19 </h4>
<p class="el-head">Perseravance of the saints</p>
<span>Saturday 10:00 AM</span>
<p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details &rarr;</a></p>
</div>
<div class="el-block item">
<h4> OCT 14 </h4>
<p class="el-head">God's irresistable grace</p>
<span>Sunday 11:00 AM</span>
<p class="el-cta"><a class="btn btn-primary" href="event-single.html" role="button">Details &rarr;</a></p>
</div> -->
</div>
</div>
</div>
</div>
</div>
 
 
<!-- <div class="container has-margin-bottom">
<div class="row">
<div class="col-md-9 has-margin-bottom">
<div class="section-title left-align-desktop">
<h4> LATEST BULLETIN </h4>
</div>
 
<div class="row has-margin-bottom">
<div class="col-md-4 col-sm-4"> <img class="img-responsive center-block" src="images/blog-thumb-1.jpg" alt="bulletin blog"> </div>
<div class="col-md-8 col-sm-8 bulletin">
<h4 class="media-heading">Perseverance of the Saints </h4>
<p>on 17th June 2014 by <a href="#" class="link-reverse">Vincent John</a></p>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet...</p>
<a class="btn btn-primary" href="blog-single.html" role="button">Read Article →</a> </div>
</div>
 
<div class="row">
<div class="col-md-4 col-sm-4"> <img class="img-responsive center-block" src="images/blog-thumb-2.jpg" alt="bulletin blog"> </div>
<div class="col-md-8 col-sm-8 bulletin">
<h4 class="media-heading">Lord is Sufficient for all of our needs </h4>
<p>on 17th June 2014 by <a href="#" class="link-reverse">Jose Mathew</a></p>
<p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet...</p>
<a class="btn btn-primary" href="blog-single.html" role="button">Read Article →</a> </div>
</div>
</div>
 
 
<div class="col-md-3">
<div class="well">
<div class="section-title">
<h4> RECENT SERMONS </h4>
</div>
<a href="#"><img src="images/video-thumb.jpg" class="img-responsive center-block" alt="video thumb"></a>
<div class="list-group"> <a href="sermons.html" class="list-group-item">
<p class="list-group-item-heading">Heavens and the earth</p>
<p class="list-group-item-text">24:15 mins</p>
</a> <a href="sermons.html" class="list-group-item">
<p class="list-group-item-heading">Prayer and petition</p>
<p class="list-group-item-text">12:00 mins</p>
</a> <a href="sermons.html" class="list-group-item">
<p class="list-group-item-heading">Fruit of the Spirit</p>
<p class="list-group-item-text">30:25 mins</p>
</a> <a href="sermons.html" class="list-group-item">
<p class="list-group-item-heading">Do not be afraid; keep on...</p>
<p class="list-group-item-text">17:00 mins</p>
</a> </div>
</div>
</div>
</div>
</div> -->
 
 
<div class="container has-margin-bottom">
<div class="section-title">
<h4>QUANTIDADE OFERTADA </h4>
</div>
<div class="charity-box">
<div class="charity-image"> <img src="http://arqrio.org/files/images/list_type_5/cracvia_2016_02082013151707.jpg" class="img-responsive" alt="charity donation fundraising"></div>
<div class="charity-desc">
<h3>Ajude nossos brasileiros peregrinos</h3>
<p> Postado por <a class="link-reverse" href="#">Alexsander</a> 18 de Março de 2015</p>
<h2 class="pledged-amount">R$6560.00</h2>
<p>Pretendemos R$15000.00 como meta</p>
<div class="progress">
<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete</span>60%</div>
</div>
<div class="pull-left has-margin-xs-right">
<h3>24</h3>
<p>Contribuidores</p>
</div>
<div class="pull-left">
<h3 class="pledged-amount">17</h3>
<p>Dias se passaram</p>
</div>
<div class="donate-now"> <a href="charity-donation.html" class="btn btn-lg btn-primary">Doar Agora →</a> </div>
</div>
</div>
</div>
 
 
<!-- <div class="container has-margin-bottom">
<div class="section-title">
<h4> OUR GALLERY </h4>
</div>
<div class="img-gallery row">
<div class="col-sm-4 col-md-3"> <a class="fancybox" href="images/gallery/img_gallery_1.jpg" data-fancybox-group="gallery" title="church image gallery"> <img src="images/gallery/thumb/gallery_thumb_1.jpg" class="img-responsive" width="270" height="270" alt="church image gallery"> </a> </div>
<div class="col-sm-4 col-md-3"> <a class="fancybox" href="images/gallery/img_gallery_2.jpg" data-fancybox-group="gallery" title="church image gallery"> <img src="images/gallery/thumb/gallery_thumb_2.jpg" class="img-responsive" width="270" height="270" alt="church image gallery"> </a> </div>
<div class="col-sm-4 col-md-3"> <a class="fancybox" href="images/gallery/img_gallery_3.jpg" data-fancybox-group="gallery" title="church image gallery"> <img src="images/gallery/thumb/gallery_thumb_3.jpg" class="img-responsive" width="270" height="270" alt="church image gallery"> </a> </div>
<div class="col-sm-4 col-md-3"> <a class="fancybox" href="images/gallery/img_gallery_4.jpg" data-fancybox-group="gallery" title="church image gallery"> <img src="images/gallery/thumb/gallery_thumb_4.jpg" class="img-responsive" width="270" height="270" alt="church image gallery"> </a> </div>
<div class="col-sm-4 col-md-3"> <a class="fancybox" href="images/gallery/img_gallery_5.jpg" data-fancybox-group="gallery" title="church image gallery"> <img src="images/gallery/thumb/gallery_thumb_5.jpg" class="img-responsive" width="270" height="270" alt="church image gallery"> </a> </div>
<div class="col-sm-4 col-md-3"> <a class="fancybox" href="images/gallery/img_gallery_6.jpg" data-fancybox-group="gallery" title="church image gallery"> <img src="images/gallery/thumb/gallery_thumb_6.jpg" class="img-responsive" width="270" height="270" alt="church image gallery"> </a> </div>
<div class="col-sm-4 col-md-3"> <a class="fancybox" href="images/gallery/img_gallery_7.jpg" data-fancybox-group="gallery" title="church image gallery"> <img src="images/gallery/thumb/gallery_thumb_7.jpg" class="img-responsive" width="270" height="270" alt="church image gallery"> </a> </div>
<div class="col-sm-4 col-md-3"> <a class="fancybox" href="images/gallery/img_gallery_8.jpg" data-fancybox-group="gallery" title="church image gallery"> <img src="images/gallery/thumb/gallery_thumb_8.jpg" class="img-responsive" width="270" height="270" alt="church image gallery"> </a> </div>
</div>
</div> -->
 
 
<div class="highlight-bg /*has-margin-bottom*/">
<div class="container event-list">
<div class="section-title">
<h4> CITAÇÕES BÍBLICAS </h4>
</div>
<div class="row">
<div class="col-md-12">
<div class="owl-carousel2">
<div class="item">
<blockquote class="blockquote-centered"> Não te deixes dominar pela tristeza e nem te aflijas com os teus pensamentos. Ilude as tuas inquietações, consola o teu coração, afasta para longe a tristeza: porque a tristeza matou a muitos e nela não há utilidade nenhuma. <small>Eclesiástico 30,21.23</small> </blockquote>
</div>
<div class="item">
<blockquote class="blockquote-centered"> Não vos preocupeis com o dia de amanhã, pois o dia de amanhã preocupar-se-à consigo mesmo. A cada dia basta o seu mal.
<small>Evangelho de Mateus 6,34</small> </blockquote>
</div>
<div class="item">
<blockquote class="blockquote-centered">A arrogância precede a ruína, e o espírito altivo, a queda. <small>Provérbios 16,18</small> </blockquote>
</div>
</div>
</div>
</div>
</div>
</div>
 
 
<!-- <div class="container">
<div class="section-title">
<h4> OUR MINISTRIES </h4>
</div>
<div class="row feature-block">
<div class="col-md-4 col-sm-6 has-margin-bottom"> <img class="img-responsive" src="images/ministry_1.jpg" alt="catholic church">
<h5>YOU CANNOT, BUT GOD CAN</h5>
<p>The world says that blood and sweat equals success. But we can rest in Jesus' finished work at the cross because of His blood, sweat, tears... </p>
<p><a href="ministry.html" role="button">Read more →</a></p>
</div>
 
<div class="col-md-4 col-sm-6 has-margin-bottom"> <img class="img-responsive" src="images/ministry_2.jpg" alt="ministry sermon">
<h5>DELIGHT YOURSELF IN LORD</h5>
<p>When we rest in the Lord and draw from His Word every day, we have the confidence in knowing our Father has already opened doors...</p>
<p><a href="ministry.html" role="button">Read more →</a></p>
</div>
 
<div class="col-md-4 col-sm-8 col-sm-offset-2 col-md-offset-0 center-this has-margin-bottom"> <img class="img-responsive" src="images/ministry_3.jpg" alt="bulletin programs">
<h5>FAITH DEVELOPS PERSEREVANCE</h5>
<p>Through these he has given us his very great and precious promises, so that through them you may participate in the divine nature...</p>
<p><a href="ministry.html" role="button">Read more →</a></p>
</div>
 
</div>
</div> -->
 
 
<div class="highlight-bg" style="background: #F5E8D7;">
<div class="container">
<div class="row">
<form action="subscribe.php" method="post" class="form subscribe-form" role="form" id="subscribeForm">
<div class="form-group col-md-3 hidden-sm">
<h5 class="susbcribe-head"> INSCREVA-SE <span>PARA RECEBER NOTÍCIAS</span></h5>
</div>
<div class="form-group col-sm-8 col-md-6">
<label class="sr-only">Endereço de e-mail</label>
<input type="email" class="form-control input-lg" placeholder="Endereço de e-mail" name="email" id="address" data-validate="validate(required, email)" required>
<span class="help-block" id="result"></span> </div>
<div class="form-group col-sm-4 col-md-3">
<button type="submit" class="btn btn-lg btn-primary btn-block">Inscrever-se Agora →</button>
</div>
</form>
</div>
</div>
</div>
 
 
<footer>
<div class="container">
<div class="row">
<div class="col-sm-6 col-md-3">
<h5>SOBRE A DOAÇÃO</h5>
<p>Com o princípio de ajudar os peregrinos brasileiros, foi lançada a missão perante a Igreja, para que possamos arrecadar o máximo de dinheiro possível, contribuindo para a peregrinação rumo a Cracóvia em 2016.</p>
</div>
<div class="col-sm-6 col-md-3">
<h5>LINKS ÚTEIS</h5>
<ul class="footer-links">
<li><a href="#">Iniciando eventos</a></li>
<li><a href="#">Diocéses</a></li>
<li><a href="#">Anúncios</a></li>
<li><a href="#">Contate-nos</a></li>
</ul>
</div>
<div class="col-sm-6 col-md-3">
<h5>NOSSO ENDEREÇO</h5>
<p> Paróquia...<br>
121 rua, bairro... <br>
País, Estado, Cidade...<br>
<br>
Phone: +35 8376 6284<br>
Email: <a href="#">ibiraci@paroquia.com.br</a></p>
</div>
<div class="col-sm-6 col-md-3">
<h5>CONECTE-SE</h5>
<div class="social-icons"><a href="#"><img src="{% static 'images/fb-icon.png' %}" alt="social"></a> <a href="#"><img src="{% static 'images/tw-icon.png' %}" alt="social"></a> <!-- <a href="#"><img src="{% static 'images/in-icon.png' %}" alt="social"></a> --></div>
</div>
</div>
</div>
<div class="copyright">
<div class="container">
<p class="text-center">&copy;2015 <i class="fa fa-pencil"></i> com <i class="fa fa-heart pulse" style="color: #c0392b;"></i> por um<strong> Peregrino :)</strong></p>
</div>
</div>
</footer>
 
 
 
 
<script src="{% static 'js/jquery.js' %} "></script>
<script src="{% static 'js/bootstrap.min.js' %} "></script>
<script src="{% static 'js/owl.carousel.min.js' %} "></script>
<script src="{% static 'js/ketchup.all.js' %} "></script>
<script src="{% static 'js/fancybox.js' %}"> </script>
 
<script>
$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
	navText: [
      "<span class='nav-arrow left'></i>",
      "<span class='nav-arrow right'></i>"
      ],
    responsive:{
        0:{
            items:1
        },
		550:{
            items:2
        },
        768:{
            items:3
        },
        992:{
            items:4
        }
    }
})

$('.owl-carousel2').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
	navText: false,
    responsive:{
        0:{
            items:1
        }
    }
})
</script>
 
<script>
$(document).ready(function() {
 $('.fancybox').fancybox();			
});			
</script>
 
<script>

$(function(){
 var shrinkHeader = 300;
  $(window).scroll(function() {
    var scroll = getCurrentScroll();
      if ( scroll >= shrinkHeader ) {
           $('.navbar').addClass('shrink');
        }
        else {
            $('.navbar').removeClass('shrink');
        }
  });
function getCurrentScroll() {
    return window.pageYOffset || document.documentElement.scrollTop;
    }
});

</script>
 
<script>
$(document).ready(function() {
	$('#subscribeForm').ketchup().submit(function() {
		if ($(this).ketchup('isValid')) {
			var action = $(this).attr('action');
			$.ajax({
				url: action,
				type: 'POST',
				data: {
					email: $('#address').val()
				},
				success: function(data){
					$('#result').html(data);
				},
				error: function() {
					$('#result').html('Sorry, an error occurred.');
				}
			});
		}
		return false;
	});

});
</script>
</body>
</html>

